.exchange-wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.exchange-currency,
.exchange-value {
  font-family: var(--font-currencies);
}

.exchange-currency {
  color: var(--color-gold);
}

.exchange-value {
  border-radius: 5px;
  min-width: 115px;
  padding: 0 5px;
  background-color: black;
  color: rgb(129, 16, 16);
  font-weight: bold;
  text-align: right;
}
