.featured-wrapper {
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto 15px;
  width: 100%;
  max-width: 90%;
  flex: 1 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  cursor: pointer;
}
.featured-wrapper:hover {
  border-color: var(--color-gold);
}

.featured-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid white;
  width: 100%;
  flex: 1 1 auto;
  object-fit: cover;
}

.featured-info-container {
  flex: 0 0 3em;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 12px;
}

.featured-name {
  height: 1em;
  color: var(--color-gold);
}

.featured-price {
  height: 1em;
  color: var(--color-green);
}
