.home-wrapper {
  padding: 0 50px;
  height: calc(100vh - 55px - 25px - 2px); /* - navbars */
  background-image: url('https://res.cloudinary.com/dt2uyzpbn/image/upload/v1713450743/Astro/kai-pilger-Ef6iL87-vOA-unsplash_hp1fhj.jpg');
  background-size: contain;
  color: white;
}

.home-container {
  padding: 20px 0 0;
  height: calc(100vh - 55px - 25px - 2px - 40px);
  display: grid;
  grid-template-areas:
    'box1 box2 box2'
    'box1 box3 box4'
    'box1 box5 box4';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.home-heading {
  margin-top: 4px;
}

.home-box1 {
  grid-area: box1;
}
.home-box2 {
  grid-area: box2;
}
.home-box3 {
  grid-area: box3;
}
.home-box4 {
  grid-area: box4;
}
.home-box5 {
  grid-area: box5;
}

.home-box {
  border-radius: 5px;
  background-color: cyan;
  background-color: var(--color-silverdark);
  text-align: center;
}
