.home-wrapper {
  padding: 0 50px;
  height: calc(100vh - 55px - 25px - 2px); /* - navbars */
  background-image: url('https://res.cloudinary.com/dt2uyzpbn/image/upload/v1713450743/Astro/kai-pilger-Ef6iL87-vOA-unsplash_hp1fhj.jpg');
  background-size: contain;
  color: white;
}

.home-container {
  padding: 20px 0 0;
  height: calc(100vh - 55px - 25px - 2px - 40px);
  display: grid;
  grid-template-areas:
    'sales latest latest'
    'sales card featured'
    'sales curr featured';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.home-teaser-container {
  display: flex;
  justify-content: space-around;
}

.home-box {
  border-radius: 5px;
  background-color: cyan;
  background-color: var(--color-silverdark);
  text-align: center;
}
.home-box:hover {
  color: var(--color-gold);
}

.home-heading {
  margin: 4px 0 10px;
}

.home-sales {
  grid-area: sales;
}
.home-latest {
  grid-area: latest;
  cursor: pointer;
}
.home-gift-card {
  grid-area: card;
}
.home-featured {
  grid-area: featured;
}
.home-currencies {
  grid-area: curr;
}
