.searchresults-wrapper {
  display: flex;
  color: white;
}

.searchresults-container {
  /* width: 100%; */
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.sr-searching,
.sr-found-in {
  margin: 15px 0 0 20px;
}

.sr-query {
  color: var(--color-cyan);
}

.sr-no-products {
  padding: 20px;
}

.sr-found-in {
  border-radius: 5px;
  padding: 0 5px;
  background-color: black;
  display: inline-block;
  color: var(--color-cyan);
}
