/* ***** CART ********************************************************************************** */

.cart-wrapper {
  padding-left: 20px;
  color: white;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-tile-container {
  width: 50%;
}
