.cart-quantity-wrapper {
  border-radius: 10px;
  padding: 15px 20px;
  background-color: var(--color-silverdark);
}

.cq-input {
  margin: 10px 0;
}

.cq-submit {
  min-height: 30px;
  cursor: pointer;
}
