.image-modal-wrapper {
  border-radius: 10px;
  padding: 15px;
  width: 40vw;
  height: 90vh;
  background-color: var(--color-silverdark);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  user-select: none;
}

.image-current {
  border-radius: 5px;
  width: 40vw;
  height: 80vh;
  object-fit: cover;
  background: linear-gradient(var(--color-darkdarkblue), black);
}

.image-buttons-container {
  display: flex;
  align-items: center;
  column-gap: 30px;
  font-size: 20px;
}

.image-button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
}
.image-button:hover {
  border-color: white;
  color: white;
}

.image-number {
  width: 50px;
  /* font-family: var(--font-currencies); */
  font-size: 18px;
  text-align: center;
  /* color: white; */
}
