/* ***** PRODUCT TILE ************************************************************************** */

.producttile-wrapper {
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px;
  min-width: 20%;
  width: 20%;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.producttile-wrapper:hover {
  border-color: var(--color-gold);
}

.producttile-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  background: linear-gradient(var(--color-darkdarkblue), black);
}

.producttile-info-container {
  padding: 5px 10px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.producttile-name {
  height: 2em;
}

.producttile-soldby {
  border-radius: 5px;
}
.producttile-soldby:hover {
  background-color: var(--color-greenblue);
}

.producttile-name,
.producttile-seller {
  color: var(--color-gold);
}

.producttile-price {
  color: var(--color-green);
}
