/* ***** PRODUCT DETAILS *********************************************************************** */

.productdetails-wrapper {
  /* border: 1px solid red; */
  /* min-height: calc(100vh - 55px - 25px - 2px); */
  /* background-color: black; */
  display: flex;
  color: white;
}

.productdetails-container {
  border: 2px solid white;
  border-radius: 8px;
  margin: 20px auto;
  padding: 15px;
  max-width: 50%;
  background-color: black;
}

.pd-top {
  display: flex;
  justify-content: space-between;
}

.pd-top-info {
  margin-right: 15px;
}

.pd-name {
  font-size: 20px;
  color: var(--color-gold);
}

.pd-seller {
  color: var(--color-cyan);
}

.pd-price {
  color: var(--color-green);
}

.pd-images {
  width: 300px;
  height: 300px;
}

.pd-images-preview {
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
}
.pd-images-preview:hover {
  border-color: var(--color-gold);
}

.pd-images-count {
  text-align: right;
  font-size: 14px;
}

.pd-heading {
  font-size: 20px;
  color: var(--color-gold);
}

.pd-description {
  margin-top: 15px;
}

.pd-details {
  margin: 15px 0 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.pd-details-flex {
  display: flex;
}

.pd-details-flex-left {
  margin-right: 30px;
  color: var(--color-cyan);
}

.pd-submit {
  height: 32px;
  cursor: pointer;
}
.pd-submit:disabled {
  cursor: default;
}
