/* ***** PRODUCTS ****************************************************************************** */

.products-wrapper {
  /* margin: 0; */
  /* height: calc(100vh - 55px - 25px - 2px); */
  /* height: 100%; */
  /* background-color: black; */
  color: white;
  display: flex;
}

.products-tiles {
  /* margin: 0 20px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}

.products-details {
  width: 100%;
}


/* ***** PRODUCT TILE ************************************************************************** */

.producttile-wrapper {
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px;
  width: 20%;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.producttile-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.producttile-info-container {
  padding: 5px 10px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.producttile-name {
  height: 2em;
}

.producttile-name,
.producttile-seller {
  color: var(--color-gold);
}

.producttile-price {
  color: var(--color-green);
}
