/* ***** PRODUCTS ****************************************************************************** */

.products-wrapper {
  margin: 0;
  /* height: calc(100vh - 55px - 25px - 2px); */
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
}

.products-sidenav {
  border-right: 3px solid white;
  width: 20%;
}

.products-main {
  /* margin: 0 20px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* ***** PRODUCT TILE ************************************************************************** */

.producttile-wrapper {
  margin: 20px;
  width: 20%;
  height: 200px;
  border: 1px solid white;
}

.producttile-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
