/* ***** PRODUCTS ****************************************************************************** */

.products-wrapper {
  /* margin: 0; */
  /* height: calc(100vh - 55px - 25px - 2px); */
  /* height: 100%; */
  /* background-color: black; */
  color: white;
  display: flex;
}

.products-tile-container {
  /* margin: 0 20px; */
  /* width: 80vw; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}

.products-details {
  width: 100%;
}

.products-no-products {
  padding: 20px;
}
