/* ***** NAVBAR ******************************************************************************** */

.nav-wrapper {
  position: sticky;
  top: 0;
}

.nav-upper-wrapper {
  /* border: 1px solid red; */
  height: 35px;
  padding: 10px 20px;
  background-color: indigo;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-lower-wrapper {
  height: 25px;
  border-top: 2px solid black;
  background-color: indigo;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  cursor: pointer;
}
.nav-link:hover {
  border: 1px solid red;
}


/* ***** PROFILE BUTTON ************************************************************************ */

.profile-button {
  width: 50px;
  height: 40px;
}

.profile-dropdown {
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  width: 150px;
  position: fixed;
  top: 65px;
  right: 35px;
  z-index: 1;
}
