.search-wrapper {
  width: 40%;
}

.search-wrapper form {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  width: calc(100% - 45px);
  font-size: 18px;
  /* background-color: var(--color-silver); */
  /* background-color: darkcyan; */
}

.search-submit {
  width: 35px;
  height: 35px;
  /* background-color: var(--color-silver); */
  cursor: pointer;
}

.search-magnifying-glass {
  width: 35px;
  height: 35px;
  position: relative;
  top: -4px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
