/* ***** SIDENAV ******************************************************************************* */

.sidenav-wrapper {
  border-right: 3px solid white;
  min-width: 18vw;
  width: 18vw;
  height: calc(100vh - 55px - 25px - 2px);
  position: sticky;
  top: calc(55px + 25px + 2px);
  background-color: black;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-indigo) black;
  /* Uncomment these for alternate SideNav */
  /* border: none;
  background-color: unset;
  scrollbar-width: none;
  -ms-overflow-style: none; */
}
/* .sidenav-wrapper::-webkit-scrollbar {
  display: none;
} */

.sidenav-alt {
  border: none;
  background-color: unset;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidenav-alt::-webkit-scrollbar {
  display: none;
}

.sidenav-toggle {
  padding: 15px 0 15px 5px;
  cursor: pointer;
  user-select: none;
}
.sidenav-toggle:hover {
  background-color: var(--color-gold);
}

.sidenav-categories-container {
  margin-top: -5px;
}

.sidenav-category,
.sidenav-subcategory {
  cursor: pointer;
}

.sidenav-category {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 18px;
  color: var(--color-cyan);
}
.sidenav-category:hover {
  background-color: var(--color-darkdarkblue);
}

.sidenav-subcategory {
  margin: 5px 0;
  padding-left: 20px;
  font-size: 14px;
  /* color: var(--color-gold); */
  color: var(--color-red);
}
.sidenav-subcategory:hover {
  background-color: white;
}

.sn-sub-alt {
  color: var(--color-gold);
}

.sn-secret-button {
  height: 1em;
}


/* ***** FILTERS ******************************************************************************* */

.sidenav-filters-container {
  padding-left: 10px;
  user-select: none;
}

.sf-reset {
  margin-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
}

.sf-heading {
  margin-top: 3px;
  font-size: 15px;
  color: var(--color-gold);
}

.sf-indent {
  padding-left: 10px;
}

.sf-text,
.sf-price-min,
.sf-price-max {
  font-size: 14px;
}

.sidenav-filters-container select {
  width: 85%;
}

.sf-price-min,
.sf-price-max {
  display: inline-block;
  width: 50px;
}

.sf-price-min-input {
  width: 50%;
}

.sf-price-max-input {
  width: 50%;
}
