.exchange-tile-wrapper {
  display: flex;
  justify-content: space-between;
}

.exchange-tile-currency,
.exchange-tile-value {
  font-family: var(--font-currencies);
  font-size: 14.5px;
}

.exchange-tile-currency {
  min-width: 50px;
  text-align: left;
  color: var(--color-gold);
}

.exchange-tile-value {
  border-radius: 5px;
  min-width: 120px;
  padding: 0 5px;
  background-color: black;
  color: var(--color-redcurrency);
  text-align: right;
}
